body {
    background-color: rgb(184, 217, 255);
}

nav h1 {
  transform: translate(-650px, -15px);
  font-size: 40px;
  font-family: 'Mukta', sans-serif;
}


nav { 
    background-color: #3a94fa; 
    padding: 1rem; 
    display: flex; 
    min-height: 6rem; 
    
    align-items: center; 
    z-index: 2;
  }
  nav a { 
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
    padding-left: 2rem; 
    color: #c2bfbf; 
    
    text-decoration: none; 
    transition: all .2s ease-in-out; 
    justify-content: flex-end;
  }
  nav a:hover { 
    color: #466aad;
  }
  
  nav img {
    z-index: 1;
    height: 100px;
    width: 100px;
    margin-right: auto;
  }
  img {
    border-radius:2px;
    transition: all 0.2s ease-in-out;
  }
 
  
  a#trigram { 
    display: none; 
    font-size: 3rem; 
    align-self: stretch;
  
  margin-top: 40px;
  }
  @media screen and (max-width: 768px) {
    a.nav-link {
      display: none;
    }
    a#trigram {
      display: inherit;
    }
  }


.card { 
   
   display: flex;
   
    margin: 20px;

    padding: 1%; 
    flex-direction: column; 
    border-radius: 15px; 
    background-color: #575151; 
    box-shadow: 0 3px 10px rgba(30, 30, 30, 0.5);
  }
  .card:hover {
    box-shadow: 0 3px 30px rgba(0,0,0,.5);
  }







.card-text {

    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Nunito', sans-serif;
  
    justify-content: space-between;
  
    font-size: 25px;
    color: #dedcdc;
  
    text-align: right;
  
    margin-right: 10px;
  
    overflow: hidden;

    transform: translateY(-80px);


  }


  .card-text2 {
    font-family: 'Mukta', sans-serif;
    font-family: 'Nunito', sans-serif;
    color: #c5c5c5;
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align:center;
  
    margin-top: -150px;
    margin-bottom: 5px;

    transform: translate(-350px, -125px);

  }
  

  